.Home .lander {
  padding-top: 50px;
    text-align: center;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  
  .Home .lander p {
    color: #999;
  }

  @media all and (min-width: 480px) {
    .Home form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  .notes-list {
    padding-top: 10px;
  }

  .noteWrapper {
    position: relative;
    display: block;
}
.noteWrapper .delete {
    position: absolute;
    top: -8px;
    right: -7px;
    z-index: 100;
    padding: 5px 2px 2px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}

#edit-input {
  display:none;
}