.Home .lander {
  padding-top: 50px;
    text-align: center;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  
  .Home .lander p {
    color: #999;
  }

  @media all and (min-width: 480px) {
    .Home form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  .notes-list {
    padding-top: 10px;
  }